In [2]:
import pandas as pd

In [3]:
dataset=pd.read_excel("Baysian_dataset.xlsx")

In [4]:
dataset

   P(A)  P(B)  P(B|A)
0  0.20  0.25    0.25
1  0.35  0.30    0.45
2  0.50  0.20    0.55
3  0.60  0.30    0.40
4  0.40  0.20    0.30
5  0.70  0.60    0.80
6  0.60  0.30    0.40

In [5]:
dataset.head(5)

   P(A)  P(B)  P(B|A)
0  0.20  0.25    0.25
1  0.35  0.30    0.45
2  0.50  0.20    0.55
3  0.60  0.30    0.40
4  0.40  0.20    0.30

In [6]:
for index,row in dataset.iterrows():
    p_a=row['P(A)']
    p_b=row['P(B)']
    
    p_b_given_a=row['P(B|A)']
    
    p_a_given_b=(p_b_given_a*p_a)/p_b
    
    print(f"P(A|B) for row {index + 1}: {p_a_given_b}")

P(A|B) for row 1: 0.2
P(A|B) for row 2: 0.525
P(A|B) for row 3: 1.375
P(A|B) for row 4: 0.8
P(A|B) for row 5: 0.6
P(A|B) for row 6: 0.9333333333333332
P(A|B) for row 7: 0.8